name: Accessibility

on:
  workflow_dispatch:
    inputs:
      branch:
        description: 'Branch para rodar os testes'
        required: false
        default: 'main'
        type: string
  push:
    branches: [ main ]
  pull_request:

jobs:
  a11y:
    runs-on: ubuntu-latest

    steps:
      # Checkout quando disparar MANUALMENTE (usa a branch escolhida)
      - name: 游닌 Checkout (manual - branch escolhida)
        if: ${{ github.event_name == 'workflow_dispatch' }}
        uses: actions/checkout@v4
        with:
          ref: ${{ inputs.branch }}

      # Checkout para push/PR (comporta-se normalmente)
      - name: 游닌 Checkout (push/PR)
        if: ${{ github.event_name != 'workflow_dispatch' }}
        uses: actions/checkout@v4

      - name: 游냀 Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'

      - name: 游닍 Instalar depend칡ncias (somente o necess치rio para A11y)
        run: |
          python -m pip install --upgrade pip wheel setuptools
          pip install \
            robotframework==7.0.1 \
            robotframework-seleniumlibrary==6.7.1 \
            selenium==4.24.0 \
            axe-selenium-python==2.1.6 \
            webdriver-manager==4.0.2 \
            requests==2.32.3 \
            robotframework-requests==0.9.7 \
            PyYAML==6.0.2

      - name: 游빍 Executar Robot (A11y)
        run: |
          robot -L TRACE -d results tests/accessibility_tests

      - name: 游닋 Upload JSON (axe)
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: axe-json
          path: results/accessibility/*.axe.json

      - name: 游닋 Upload Relat칩rios Robot
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: robot-report
          path: results
